body {
    text-align: center;
    background: linear-gradient(135deg, #667eea, #764ba2);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-container {
    width: 350px;
    padding: 20px;
    border-radius: 16px;
    background: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border: none;
}

.todo-container > div {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #f9f9f9;
    padding: 10px;
    margin: 5px 0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    color: #333;
    transition: background 0.3s ease, box-shadow 0.3s ease;
}

button {
    background: linear-gradient(135deg, #667eea, #764ba2);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    height: 45px;
    width: 70px;
    transition: background 0.3s, transform 0.2s;
}

button:hover {
    background: linear-gradient(135deg, #764ba2, #667eea);
    transform: scale(1.05);
}

button:active {
    transform: scale(0.95);
}

input {
    height: 45px;
    width: 70%;
    margin-right: 10px; 
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.remove-btn {
    background: #dc3545;
    color: white;
    border: none;
    padding: 8px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.3s ease, transform 0.2s ease;
    width: 100px;
}

.remove-btn:hover {
    background: #c82333; 
    transform: scale(1.05);
}

.remove-btn:active {
    transform:  scale(0.95);
}

.back-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    background: linear-gradient(135deg, #764ba2, #667eea);
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 200px;
    height: 50px;
}

.back-btn:hover {
    background: linear-gradient(135deg, #667eea, #764ba2);
    transform: scale(1.05);
}

.back-btn:active {
    transform: scale(0.95);
}